.square {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}
.draggable {
    width:52px;
    height: 52px;
    background-color: gray;
}
.wrapper{
    width:520px;
    height:520px;
    border: 2px 2px 2px 2px black;
}
.Tittle{
    background: black;
    color: white;
}