.square {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}
.draggable {
    width:52px;
    height: 52px;
    background-color: gray;
}
.wrapper{
    width:550px;
    height:550px;
    display:flex;
    flex-direction: row;
}
.Tittle{
    background: black;
    color: white;
}
.Battleship{
    width: 50px;
    height: 200px;
}